/* General Layout */
.container {
  display: flex;
  background-color: #f5f7fa;
  min-height: 100vh;
}


/* Main Content */
.content {
  flex: 1;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  display: block;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
  margin: 25px auto;
  width: fit-content;
}



/* Form Styling */
.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}



/* Specific styling for Name, Child Name, Cost, and Investment */
.pair-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}


.pair-group input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* General label styling */
label {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
}

/* General input styling */
input[type="text"],
input[type="number"],
input[type="date"] {
  width: 95%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  background-color: #f0f8ff;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Slider Styling */
.slider-container {
  display: flex;
  align-items: center; /* Ensures vertical centering */
}

.slider-container input[type="range"] {
  flex: 1;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  background: #f0f0f0;
  height: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0; /* Remove any margin that might affect alignment */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider-value {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 10px;
}


/* Button Styling */
.calculate-btn {
  width: 200px;
  background: #007bff;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: block;
}

.calculate-btn:hover {
  background: #0d2d4e;
}

.calculate-btn:active {
  background: #0d2d4e;
}



/* Results UI Styling */
.results-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.results-container:hover {
  transform: scale(1.02);
}

.results-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 8px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  background: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
}

.results-table th {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.results-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #333;
}

.results-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.results-table tr:hover {
  background-color: #e9ecef;
  transition: 0.3s ease-in-out;
}

.results-section {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

/* Image Styling within Results */
.results-container .image-container img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-container .image-container {
  margin-bottom: 20px;
  text-align: center;
}


/* To hide the download button in pdf */
.hide-download-btn {
  display: none;
}




/* Responsive Design */
@media (max-width: 955px) {
  .form-row {
    flex-direction: column;
  }

  .form-group, .pair-group {
    width: 100%;
  }

  h2 {
    font-size: 28px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    font-size: 14px;
  }

  .calculate-btn {
    width: 150px;
    font-size: 16px;
  }

  .results-header {
    font-size: 18px;
  }

  .results-table th, .results-table td {
    font-size: 14px;
  }

  .results-container .image-container img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    font-size: 12px;
  }

  .calculate-btn {
    width: 100%;
    font-size: 14px;
  }

  .results-header {
    font-size: 16px;
  }

  .results-table th, .results-table td {
    font-size: 12px;
  }

  .results-container .image-container img {
    max-width: 70%;
  }
}
